/*--------------
    RESET
--------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------
    GENERAL
--------------*/

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.img-fluid{
    max-width: 100%;
}

/*--------------
    HEADER
--------------*/

header{
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/wall.png');
    background-size: cover;
    position: sticky;
    z-index: 20;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1{
    text-align: center;
}

/*--------------
    MAIN
--------------*/

main{
    background-image: url('../img/cork.png');
    background-size: contain;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 3 - 10px);
    position: relative;
    padding: 10px;
    background-color: #fff;
    margin: 40px 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    cursor: pointer;
    transition: transform 0.5s;
}

.col:hover{
  transform: rotate(10deg);
}

.col:hover .pin-card{
    display: none;
}

.img-fluid{
    max-width: 100%;
    top: 0;
    left: 0;
}

.pin-card{
    width: 50px;
    z-index: 10;
    position: absolute;
    top: -15px;
    right: calc(100% / 2 - 25px);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.overlay-img{
    max-width: 50%;
}

#overlay-img-btn{
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 12px;
    border-style: none;
    font-size: 18px;
    cursor: pointer;
}

.hidden{
    display: none;
}