/*--------------
    RESET
--------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------
    GENERAL
--------------*/

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.img-fluid{
    max-width: 100%;
}

/*--------------
    HEADER
--------------*/

header{
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/wall.png');
    background-size: cover;
    position: sticky;
    z-index: 20;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1{
    text-align: center;
}

/*--------------
    MAIN
--------------*/

main{
    background-image: url('../img/cork.png');
    background-size: contain;
    padding-top: 40px;
    height: 100vh;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 3 - 20px);
    position: relative;
    padding: 10px;
    background-color: #fff;
    margin: 10px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.img-fluid{
    max-width: 100%;
    top: 0;
    left: 0;
}

.pin-card{
    width: 50px;
    z-index: 10;
    position: absolute;
    top: -15px;
    right: calc(100% / 2 - 25px);
}